Financial Analysis and Dashboard.json
{
  "name": "Financial Analysis and Dashboard",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Financial Analysis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1360,
        -336
      ],
      "id": "8105930d-0a70-4c79-b6f6-c63cf5693023",
      "name": "On form submission",
      "webhookId": "b909cd5d-af7d-424e-b4a9-34575d86cbea"
    },
    {
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Cumulative Quarter Revenue - Current Period",
              "type": "number",
              "description": "Cumulative Quarter Revenue - Current Period"
            },
            {
              "name": "Cumulative Quarter Revenue - Prior Period",
              "type": "number",
              "description": "Cumulative Quarter Revenue - Prior Period"
            },
            {
              "name": "Cumulative Quarter Gross Profit - Current Period",
              "type": "number",
              "description": "Cumulative Quarter Gross Profit - Current Period"
            },
            {
              "name": "Cumulative Quarter Gross Profit - Prior Period",
              "type": "number",
              "description": "Cumulative Quarter Gross Profit - Prior Period"
            },
            {
              "name": "Cumulative Quarter Net Profit for the period - Current Period",
              "type": "number",
              "description": "Cumulative Quarter Net Profit for the period - Current Period"
            },
            {
              "name": "Cumulative Quarter Net Profit for the period - Prior Period",
              "type": "number",
              "description": "Cumulative Quarter Net Profit for the period - Prior Period"
            },
            {
              "name": "Company Name",
              "description": "Company Name"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -688,
        -336
      ],
      "id": "ab407c9c-7115-4c4b-a89c-92cc4743761c",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -688,
        -160
      ],
      "id": "c95eb7cf-9a02-46ee-be4b-e651d1639965",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Extract all details in the documents",
        "inputType": "binary",
        "binaryPropertyName": "={{ Object.keys($binary).join(',') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        -336
      ],
      "id": "f8b0fcfa-11fb-415e-ac3d-6c0c366e78bf",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary ",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1136,
        -336
      ],
      "id": "e06ef843-d6fb-4a46-944d-300262a8425e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -368,
        -336
      ],
      "id": "5eca8c4a-6e85-4e00-9749-b79e724aff9a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Financial Dashboard",
        "height": 368,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        -400
      ],
      "id": "9ef1cbac-1a9c-4100-a938-4c42bbfae388",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "Analysis done",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        80,
        -336
      ],
      "id": "2d1f802d-00bf-4b3c-8a92-650d4a5f6063",
      "name": "Form",
      "webhookId": "a31ca5eb-52ef-4d97-870e-86116a863444"
    },
    {
      "parameters": {
        "jsCode": "// Get input data from previous node\nconst inputData = $input.all();\n\n// Extract company data from nested structure\nconst companiesData = inputData[0].json.data.map((item, index) => {\n  const data = item.output;\n  \n  return {\n    id: `company${index}`,\n    name: data['Company Name'] || `Company ${index + 1}`,\n    icon: ['\ud83d\udcf0', '7\ufe0f\u20e3', '\u26a1', '\ud83c\udfe2', '\ud83c\udfea', '\ud83d\uded2'][index] || '\ud83c\udfe2',\n    color: ['#00A19C', '#006B6A', '#008B87', '#00C1BC', '#00D5D0', '#00E5E0'][index] || '#00A19C', // Petronas teal colors\n    data: {\n      revenueCurrent: parseFloat(data['Cumulative Quarter Revenue - Current Period']) || 0,\n      revenuePrior: parseFloat(data['Cumulative Quarter Revenue - Prior Period']) || 0,\n      grossProfitCurrent: parseFloat(data['Cumulative Quarter Gross Profit - Current Period']) || 0,\n      grossProfitPrior: parseFloat(data['Cumulative Quarter Gross Profit - Prior Period']) || 0,\n      netProfitCurrent: parseFloat(data['Cumulative Quarter Net Profit for the period - Current Period']) || 0,\n      netProfitPrior: parseFloat(data['Cumulative Quarter Net Profit for the period - Prior Period']) || 0\n    }\n  };\n});\n\n// Generate the complete HTML\nconst htmlContent = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Financial Performance Dashboard - Retail Companies Comparison</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #00A19C 0%, #006B6A 100%);\n            min-height: 100vh;\n            padding: 20px;\n        }\n\n        .container {\n            max-width: 1600px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n            overflow: hidden;\n            display: flex;\n            min-height: 90vh;\n        }\n\n        .sidebar {\n            width: 280px;\n            background: linear-gradient(180deg, #00A19C 0%, #006B6A 100%);\n            padding: 30px 20px;\n            color: white;\n        }\n\n        .sidebar-header {\n            text-align: center;\n            margin-bottom: 20px;\n            padding-bottom: 20px;\n            border-bottom: 2px solid rgba(255,255,255,0.2);\n        }\n\n        .petronas-logo {\n            width: 140px;\n            height: auto;\n            margin-bottom: 15px;\n            background: white;\n            padding: 10px;\n            border-radius: 10px;\n        }\n\n        .sidebar h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n            font-weight: 700;\n        }\n\n        .sidebar p {\n            font-size: 12px;\n            opacity: 0.8;\n            margin-bottom: 30px;\n        }\n\n        .nav-button {\n            width: 100%;\n            padding: 15px 20px;\n            margin-bottom: 10px;\n            background: rgba(255,255,255,0.1);\n            border: 2px solid rgba(255,255,255,0.2);\n            color: white;\n            border-radius: 10px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s ease;\n            text-align: left;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n\n        .nav-button:hover {\n            background: rgba(255,255,255,0.2);\n            transform: translateX(5px);\n        }\n\n        .nav-button.active {\n            background: white;\n            color: #00A19C;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.2);\n        }\n\n        .nav-icon {\n            width: 30px;\n            height: 30px;\n            background: rgba(255,255,255,0.2);\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 16px;\n            transition: all 0.3s ease;\n        }\n\n        .nav-button.active .nav-icon {\n            background: #00A19C;\n            color: white;\n            transform: scale(1.1);\n        }\n\n        .main-content {\n            flex: 1;\n            padding: 40px;\n            overflow-y: auto;\n            background: #f8f9fa;\n        }\n\n        .header {\n            margin-bottom: 30px;\n            opacity: 0;\n            animation: fadeInDown 0.6s ease forwards;\n        }\n\n        .header h2 {\n            font-size: 32px;\n            color: #00A19C;\n            margin-bottom: 10px;\n        }\n\n        .header .subtitle {\n            color: #666;\n            font-size: 14px;\n        }\n\n        .kpi-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n            gap: 20px;\n            margin-bottom: 30px;\n        }\n\n        .kpi-card {\n            background: white;\n            padding: 25px;\n            border-radius: 15px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.08);\n            border-left: 5px solid;\n            transition: transform 0.3s ease;\n            opacity: 0;\n            animation: fadeInUp 0.6s ease forwards;\n        }\n\n        .kpi-card:nth-child(1) { animation-delay: 0.1s; }\n        .kpi-card:nth-child(2) { animation-delay: 0.2s; }\n        .kpi-card:nth-child(3) { animation-delay: 0.3s; }\n        .kpi-card:nth-child(4) { animation-delay: 0.4s; }\n\n        .kpi-card:hover {\n            transform: translateY(-5px);\n            box-shadow: 0 8px 25px rgba(0,0,0,0.15);\n        }\n\n        .kpi-card.revenue { border-color: #00A19C; }\n        .kpi-card.profit { border-color: #00C1BC; }\n        .kpi-card.margin { border-color: #008B87; }\n        .kpi-card.growth { border-color: #006B6A; }\n\n        .kpi-label {\n            font-size: 12px;\n            color: #666;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 10px;\n        }\n\n        .kpi-value {\n            font-size: 28px;\n            font-weight: 700;\n            color: #00A19C;\n            margin-bottom: 5px;\n        }\n\n        .kpi-change {\n            font-size: 14px;\n            display: flex;\n            align-items: center;\n            gap: 5px;\n        }\n\n        .kpi-change.positive {\n            color: #4CAF50;\n        }\n\n        .kpi-change.negative {\n            color: #f44336;\n        }\n\n        .charts-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 20px;\n            margin-bottom: 30px;\n        }\n\n        .chart-container {\n            background: white;\n            padding: 25px;\n            border-radius: 15px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.08);\n            opacity: 0;\n            animation: fadeInUp 0.6s ease forwards;\n        }\n\n        .chart-container:nth-child(1) { animation-delay: 0.2s; }\n        .chart-container:nth-child(2) { animation-delay: 0.3s; }\n        .chart-container:nth-child(3) { animation-delay: 0.4s; }\n        .chart-container:nth-child(4) { animation-delay: 0.5s; }\n        .chart-container:nth-child(5) { animation-delay: 0.6s; }\n\n        .chart-container.full-width {\n            grid-column: 1 / -1;\n        }\n\n        .chart-title {\n            font-size: 18px;\n            font-weight: 600;\n            color: #00A19C;\n            margin-bottom: 20px;\n        }\n\n        .chart-wrapper {\n            position: relative;\n            height: 300px;\n        }\n\n        .comparison-table {\n            background: white;\n            border-radius: 15px;\n            padding: 25px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.08);\n            overflow-x: auto;\n            opacity: 0;\n            animation: fadeInUp 0.6s ease forwards 0.7s;\n        }\n\n        table {\n            width: 100%;\n            border-collapse: collapse;\n        }\n\n        th {\n            background: #00A19C;\n            color: white;\n            padding: 15px;\n            text-align: left;\n            font-weight: 600;\n            font-size: 14px;\n        }\n\n        td {\n            padding: 15px;\n            border-bottom: 1px solid #eee;\n            font-size: 14px;\n        }\n\n        tr:hover {\n            background: #E6F7F6;\n        }\n\n        .rank-badge {\n            display: inline-block;\n            padding: 5px 12px;\n            border-radius: 20px;\n            font-size: 12px;\n            font-weight: 600;\n        }\n\n        .rank-1 {\n            background: #00A19C;\n            color: #fff;\n        }\n\n        .company-profile {\n            background: white;\n            border-radius: 15px;\n            padding: 30px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.08);\n            margin-bottom: 20px;\n            opacity: 0;\n            animation: fadeInUp 0.6s ease forwards 0.1s;\n        }\n\n        .company-header {\n            display: flex;\n            align-items: center;\n            gap: 20px;\n            margin-bottom: 30px;\n            padding-bottom: 20px;\n            border-bottom: 2px solid #eee;\n        }\n\n        .company-logo {\n            width: 80px;\n            height: 80px;\n            background: linear-gradient(135deg, #00A19C 0%, #006B6A 100%);\n            border-radius: 15px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n            font-size: 32px;\n            font-weight: 700;\n            animation: bounceIn 0.6s ease;\n        }\n\n        .company-info h3 {\n            font-size: 28px;\n            color: #00A19C;\n            margin-bottom: 5px;\n        }\n\n        .company-info .industry {\n            color: #666;\n            font-size: 14px;\n        }\n\n        .metric-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 15px;\n            margin-top: 20px;\n        }\n\n        .metric-item {\n            padding: 15px;\n            background: #E6F7F6;\n            border-radius: 10px;\n            text-align: center;\n            transition: all 0.3s ease;\n            border: 2px solid transparent;\n        }\n\n        .metric-item:hover {\n            background: #CCF0EE;\n            border-color: #00A19C;\n            transform: scale(1.05);\n        }\n\n        .metric-item .label {\n            font-size: 12px;\n            color: #666;\n            margin-bottom: 8px;\n        }\n\n        .metric-item .value {\n            font-size: 20px;\n            font-weight: 700;\n            color: #00A19C;\n        }\n\n        /* Animations */\n        @keyframes fadeInDown {\n            from {\n                opacity: 0;\n                transform: translateY(-20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        @keyframes fadeInUp {\n            from {\n                opacity: 0;\n                transform: translateY(20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        @keyframes bounceIn {\n            0% {\n                opacity: 0;\n                transform: scale(0.3);\n            }\n            50% {\n                opacity: 1;\n                transform: scale(1.1);\n            }\n            70% {\n                transform: scale(0.9);\n            }\n            100% {\n                transform: scale(1);\n            }\n        }\n\n        @keyframes slideIn {\n            from {\n                opacity: 0;\n                transform: translateX(-30px);\n            }\n            to {\n                opacity: 1;\n                transform: translateX(0);\n            }\n        }\n\n        /* View transition animation */\n        .view-transition {\n            animation: fadeInSlide 0.5s ease;\n        }\n\n        @keyframes fadeInSlide {\n            from {\n                opacity: 0;\n                transform: translateX(30px);\n            }\n            to {\n                opacity: 1;\n                transform: translateX(0);\n            }\n        }\n\n        /* Loading animation for content switch */\n        .loading {\n            opacity: 0;\n            transition: opacity 0.3s ease;\n        }\n\n        .loaded {\n            opacity: 1;\n        }\n\n        /* Number counting animation class */\n        .counting {\n            display: inline-block;\n        }\n\n        @media (max-width: 1024px) {\n            .charts-grid {\n                grid-template-columns: 1fr;\n            }\n        }\n\n        @media (max-width: 768px) {\n            .container {\n                flex-direction: column;\n            }\n\n            .sidebar {\n                width: 100%;\n            }\n\n            .kpi-grid {\n                grid-template-columns: 1fr;\n            }\n\n            .metric-grid {\n                grid-template-columns: 1fr;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"sidebar\">\n            <div class=\"sidebar-header\">\n                <img src=\"https://icon2.cleanpng.com/lnd/20250117/ak/82e7b644f0bc410356c4657ff6d819.webp\" \n                     alt=\"Petronas Logo\" \n                     class=\"petronas-logo\"\n                     onerror=\"this.style.display='none'\">\n                <h1>\ud83d\udcca Dashboard</h1>\n            </div>\n            <p>Financial Performance Analysis</p>\n            \n            <button class=\"nav-button active\" data-view=\"comparison\">\n                <span class=\"nav-icon\">\ud83d\udd04</span>\n                <span>Compare All Companies</span>\n            </button>\n            \n            ${companiesData.map((company, index) => `\n            <button class=\"nav-button\" data-view=\"${company.id}\">\n                <span class=\"nav-icon\">${company.icon}</span>\n                <span>${company.name.split(' ').slice(0, 2).join(' ')}</span>\n            </button>\n            `).join('')}\n        </div>\n\n        <div class=\"main-content\">\n            <div id=\"content-area\"></div>\n        </div>\n    </div>\n\n    <script>\n        const companiesData = ${JSON.stringify(companiesData)};\n        let currentCharts = [];\n\n        // Animated counter function\n        function animateValue(element, start, end, duration, isPercentage = false, isCurrency = false) {\n            const startTime = performance.now();\n            const difference = end - start;\n\n            function updateValue(currentTime) {\n                const elapsed = currentTime - startTime;\n                const progress = Math.min(elapsed / duration, 1);\n                \n                // Easing function for smooth animation\n                const easeOutQuart = 1 - Math.pow(1 - progress, 4);\n                const current = start + (difference * easeOutQuart);\n\n                if (isCurrency) {\n                    element.textContent = formatCurrency(Math.round(current));\n                } else if (isPercentage) {\n                    element.textContent = current.toFixed(2) + '%';\n                } else {\n                    element.textContent = formatNumber(Math.round(current));\n                }\n\n                if (progress < 1) {\n                    requestAnimationFrame(updateValue);\n                }\n            }\n\n            requestAnimationFrame(updateValue);\n        }\n\n        // Animate all numbers in view\n        function animateNumbers() {\n            setTimeout(() => {\n                document.querySelectorAll('.kpi-value').forEach((element, index) => {\n                    const text = element.textContent;\n                    const isCurrency = text.includes('RM');\n                    const isPercentage = text.includes('%');\n                    \n                    let value = parseFloat(text.replace(/[^0-9.-]/g, ''));\n                    \n                    setTimeout(() => {\n                        animateValue(element, 0, value, 1500, isPercentage, isCurrency);\n                    }, index * 100);\n                });\n\n                document.querySelectorAll('.metric-item .value').forEach((element, index) => {\n                    const text = element.textContent;\n                    const isPercentage = text.includes('%');\n                    const isCurrency = text.includes('RM');\n                    \n                    let value = parseFloat(text.replace(/[^0-9.-]/g, ''));\n                    \n                    setTimeout(() => {\n                        animateValue(element, 0, value, 1200, isPercentage, isCurrency);\n                    }, index * 80);\n                });\n            }, 200);\n        }\n\n        function calculateRatios(data) {\n            return {\n                grossProfitMarginCurrent: (data.grossProfitCurrent / data.revenueCurrent * 100).toFixed(2),\n                grossProfitMarginPrior: (data.grossProfitPrior / data.revenuePrior * 100).toFixed(2),\n                netProfitMarginCurrent: (data.netProfitCurrent / data.revenueCurrent * 100).toFixed(2),\n                netProfitMarginPrior: (data.netProfitPrior / data.revenuePrior * 100).toFixed(2),\n                revenueGrowth: ((data.revenueCurrent - data.revenuePrior) / data.revenuePrior * 100).toFixed(2),\n                grossProfitGrowth: ((data.grossProfitCurrent - data.grossProfitPrior) / data.grossProfitPrior * 100).toFixed(2),\n                netProfitGrowth: ((data.netProfitCurrent - data.netProfitPrior) / data.netProfitPrior * 100).toFixed(2)\n            };\n        }\n\n        function formatNumber(num) {\n            return num.toString().replace(/\\\\B(?=(\\\\d{3})+(?!\\\\d))/g, \",\");\n        }\n\n        function formatCurrency(num) {\n            return 'RM ' + formatNumber(Math.round(num)) + 'K';\n        }\n\n        // Destroy existing charts before creating new ones\n        function destroyCharts() {\n            currentCharts.forEach(chart => {\n                if (chart) chart.destroy();\n            });\n            currentCharts = [];\n        }\n\n        function renderComparisonView() {\n            destroyCharts();\n            \n            const totalRevenueCurrent = companiesData.reduce((sum, c) => sum + c.data.revenueCurrent, 0);\n            const totalNetProfitCurrent = companiesData.reduce((sum, c) => sum + c.data.netProfitCurrent, 0);\n            const avgRevenueGrowth = (companiesData.reduce((sum, c) => sum + parseFloat(calculateRatios(c.data).revenueGrowth), 0) / companiesData.length).toFixed(2);\n            const avgGrossMargin = (companiesData.reduce((sum, c) => sum + parseFloat(calculateRatios(c.data).grossProfitMarginCurrent), 0) / companiesData.length).toFixed(2);\n\n            const html = \\`\n                <div class=\"header\">\n                    <h2>\ud83c\udfc6 Multi-Company Financial Comparison</h2>\n                    <p class=\"subtitle\">Comprehensive analysis of retail industry leaders</p>\n                </div>\n\n                <div class=\"kpi-grid\">\n                    <div class=\"kpi-card revenue\">\n                        <div class=\"kpi-label\">Total Revenue (Current)</div>\n                        <div class=\"kpi-value\">\\${formatCurrency(totalRevenueCurrent)}</div>\n                        <div class=\"kpi-change positive\">Combined market value</div>\n                    </div>\n                    \n                    <div class=\"kpi-card profit\">\n                        <div class=\"kpi-label\">Total Net Profit (Current)</div>\n                        <div class=\"kpi-value\">\\${formatCurrency(totalNetProfitCurrent)}</div>\n                        <div class=\"kpi-change positive\">Industry performance</div>\n                    </div>\n                    \n                    <div class=\"kpi-card growth\">\n                        <div class=\"kpi-label\">Average Revenue Growth</div>\n                        <div class=\"kpi-value\">\\${avgRevenueGrowth}%</div>\n                        <div class=\"kpi-change positive\">Year-over-year</div>\n                    </div>\n                    \n                    <div class=\"kpi-card margin\">\n                        <div class=\"kpi-label\">Average Gross Margin</div>\n                        <div class=\"kpi-value\">\\${avgGrossMargin}%</div>\n                        <div class=\"kpi-change\">Profitability metric</div>\n                    </div>\n                </div>\n\n                <div class=\"charts-grid\">\n                    <div class=\"chart-container full-width\">\n                        <h3 class=\"chart-title\">\ud83d\udcca Revenue Comparison - Current vs Prior Period</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"revenueComparisonChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83d\udcb0 Net Profit Analysis</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"netProfitChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83d\udcc8 Growth Rate Comparison</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"growthRateChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83c\udfaf Gross Profit Margin</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"marginChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83d\udd04 Market Share by Revenue</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"marketShareChart\"></canvas>\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"comparison-table\">\n                    <h3 class=\"chart-title\">\ud83d\udccb Detailed Financial Metrics Comparison</h3>\n                    <table>\n                        <thead>\n                            <tr>\n                                <th>Metric</th>\n                                \\${companiesData.map(c => '<th>' + c.name.split(' ')[0] + '</th>').join('')}\n                                <th>Leader</th>\n                            </tr>\n                        </thead>\n                        <tbody>\n                            \\${generateComparisonRows()}\n                        </tbody>\n                    </table>\n                </div>\n            \\`;\n\n            document.getElementById('content-area').innerHTML = html;\n            animateNumbers();\n            setTimeout(() => renderComparisonCharts(), 300);\n        }\n\n        function generateComparisonRows() {\n            const metrics = [\n                { label: 'Revenue (Current)', key: 'revenueCurrent', format: 'currency' },\n                { label: 'Revenue Growth', calc: 'revenueGrowth', format: 'percent' },\n                { label: 'Gross Profit (Current)', key: 'grossProfitCurrent', format: 'currency' },\n                { label: 'Gross Profit Margin', calc: 'grossProfitMarginCurrent', format: 'percent' },\n                { label: 'Net Profit (Current)', key: 'netProfitCurrent', format: 'currency' },\n                { label: 'Net Profit Margin', calc: 'netProfitMarginCurrent', format: 'percent' },\n                { label: 'Net Profit Growth', calc: 'netProfitGrowth', format: 'percent' }\n            ];\n\n            return metrics.map(metric => {\n                const values = companiesData.map(company => {\n                    const ratios = calculateRatios(company.data);\n                    const value = metric.key ? company.data[metric.key] : ratios[metric.calc];\n                    return { company: company.name, value: parseFloat(value) };\n                });\n\n                const maxValue = Math.max(...values.map(v => v.value));\n                const leader = values.find(v => v.value === maxValue).company;\n\n                return \\`\n                    <tr>\n                        <td><strong>\\${metric.label}</strong></td>\n                        \\${values.map(v => '<td>' + (metric.format === 'currency' ? formatCurrency(v.value) : v.value + '%') + '</td>').join('')}\n                        <td><span class=\"rank-badge rank-1\">\ud83c\udfc6 \\${leader.split(' ')[0]}</span></td>\n                    </tr>\n                \\`;\n            }).join('');\n        }\n\n        function renderCompanyView(companyId) {\n            destroyCharts();\n            \n            const company = companiesData.find(c => c.id === companyId);\n            const ratios = calculateRatios(company.data);\n\n            const html = \\`\n                <div class=\"header\">\n                    <h2>\\${company.icon} \\${company.name}</h2>\n                    <p class=\"subtitle\">Detailed Financial Performance & Business Intelligence</p>\n                </div>\n\n                <div class=\"company-profile\">\n                    <div class=\"company-header\">\n                        <div class=\"company-logo\">\\${company.icon}</div>\n                        <div class=\"company-info\">\n                            <h3>\\${company.name}</h3>\n                            <p class=\"industry\">Retail & Convenience Store Industry</p>\n                        </div>\n                    </div>\n\n                    <div class=\"metric-grid\">\n                        <div class=\"metric-item\">\n                            <div class=\"label\">Revenue Growth</div>\n                            <div class=\"value\" style=\"color: \\${parseFloat(ratios.revenueGrowth) > 0 ? '#4CAF50' : '#f44336'}\">\\${ratios.revenueGrowth}%</div>\n                        </div>\n                        <div class=\"metric-item\">\n                            <div class=\"label\">Gross Margin</div>\n                            <div class=\"value\">\\${ratios.grossProfitMarginCurrent}%</div>\n                        </div>\n                        <div class=\"metric-item\">\n                            <div class=\"label\">Net Margin</div>\n                            <div class=\"value\">\\${ratios.netProfitMarginCurrent}%</div>\n                        </div>\n                        <div class=\"metric-item\">\n                            <div class=\"label\">Gross Profit Growth</div>\n                            <div class=\"value\" style=\"color: \\${parseFloat(ratios.grossProfitGrowth) > 0 ? '#4CAF50' : '#f44336'}\">\\${ratios.grossProfitGrowth}%</div>\n                        </div>\n                        <div class=\"metric-item\">\n                            <div class=\"label\">Net Profit Growth</div>\n                            <div class=\"value\" style=\"color: \\${parseFloat(ratios.netProfitGrowth) > 0 ? '#4CAF50' : '#f44336'}\">\\${ratios.netProfitGrowth}%</div>\n                        </div>\n                        <div class=\"metric-item\">\n                            <div class=\"label\">Current Revenue</div>\n                            <div class=\"value\" style=\"font-size: 16px;\">\\${formatCurrency(company.data.revenueCurrent)}</div>\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"kpi-grid\">\n                    <div class=\"kpi-card revenue\">\n                        <div class=\"kpi-label\">Revenue (Current Period)</div>\n                        <div class=\"kpi-value\">\\${formatCurrency(company.data.revenueCurrent)}</div>\n                        <div class=\"kpi-change \\${parseFloat(ratios.revenueGrowth) > 0 ? 'positive' : 'negative'}\">\n                            \\${parseFloat(ratios.revenueGrowth) > 0 ? '\u25b2' : '\u25bc'} \\${ratios.revenueGrowth}% vs prior period\n                        </div>\n                    </div>\n\n                    <div class=\"kpi-card profit\">\n                        <div class=\"kpi-label\">Gross Profit (Current)</div>\n                        <div class=\"kpi-value\">\\${formatCurrency(company.data.grossProfitCurrent)}</div>\n                        <div class=\"kpi-change \\${parseFloat(ratios.grossProfitGrowth) > 0 ? 'positive' : 'negative'}\">\n                            \\${parseFloat(ratios.grossProfitGrowth) > 0 ? '\u25b2' : '\u25bc'} \\${ratios.grossProfitGrowth}% growth\n                        </div>\n                    </div>\n\n                    <div class=\"kpi-card margin\">\n                        <div class=\"kpi-label\">Net Profit (Current)</div>\n                        <div class=\"kpi-value\">\\${formatCurrency(company.data.netProfitCurrent)}</div>\n                        <div class=\"kpi-change \\${parseFloat(ratios.netProfitGrowth) > 0 ? 'positive' : 'negative'}\">\n                            \\${parseFloat(ratios.netProfitGrowth) > 0 ? '\u25b2' : '\u25bc'} \\${ratios.netProfitGrowth}% growth\n                        </div>\n                    </div>\n\n                    <div class=\"kpi-card growth\">\n                        <div class=\"kpi-label\">Gross Profit Margin</div>\n                        <div class=\"kpi-value\">\\${ratios.grossProfitMarginCurrent}%</div>\n                        <div class=\"kpi-change\">Operating efficiency metric</div>\n                    </div>\n                </div>\n\n                <div class=\"charts-grid\">\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83d\udcca Revenue Trend</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"companyRevenueChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83d\udcb0 Profitability Breakdown</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"companyProfitChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83d\udcc8 Growth Metrics</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"companyGrowthChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container\">\n                        <h3 class=\"chart-title\">\ud83c\udfaf Margin Analysis</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"companyMarginChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <div class=\"chart-container full-width\">\n                        <h3 class=\"chart-title\">\ud83d\udd0d Period-over-Period Comparison</h3>\n                        <div class=\"chart-wrapper\">\n                            <canvas id=\"companyComparisonChart\"></canvas>\n                        </div>\n                    </div>\n                </div>\n            \\`;\n\n            document.getElementById('content-area').innerHTML = html;\n            animateNumbers();\n            setTimeout(() => renderCompanyCharts(company, ratios), 300);\n        }\n\n        function renderComparisonCharts() {\n            const chart1 = new Chart(document.getElementById('revenueComparisonChart'), {\n                type: 'bar',\n                data: {\n                    labels: companiesData.map(c => c.name),\n                    datasets: [{\n                        label: 'Current Period',\n                        data: companiesData.map(c => c.data.revenueCurrent),\n                        backgroundColor: 'rgba(0, 161, 156, 0.8)',\n                        borderColor: 'rgba(0, 161, 156, 1)',\n                        borderWidth: 2\n                    }, {\n                        label: 'Prior Period',\n                        data: companiesData.map(c => c.data.revenuePrior),\n                        backgroundColor: 'rgba(158, 158, 158, 0.5)',\n                        borderColor: 'rgba(158, 158, 158, 1)',\n                        borderWidth: 2\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart'\n                    },\n                    plugins: {\n                        legend: { position: 'top' },\n                        tooltip: {\n                            callbacks: {\n                                label: function(context) {\n                                    return context.dataset.label + ': RM ' + formatNumber(context.parsed.y) + 'K';\n                                }\n                            }\n                        }\n                    },\n                    scales: {\n                        y: {\n                            beginAtZero: true,\n                            ticks: {\n                                callback: function(value) {\n                                    return 'RM ' + (value/1000).toFixed(0) + 'M';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart1);\n\n            const chart2 = new Chart(document.getElementById('netProfitChart'), {\n                type: 'bar',\n                data: {\n                    labels: companiesData.map(c => c.name.split(' ')[0]),\n                    datasets: [{\n                        label: 'Current Period',\n                        data: companiesData.map(c => c.data.netProfitCurrent),\n                        backgroundColor: companiesData.map(c => c.color + 'CC'),\n                        borderColor: companiesData.map(c => c.color),\n                        borderWidth: 2\n                    }, {\n                        label: 'Prior Period',\n                        data: companiesData.map(c => c.data.netProfitPrior),\n                        backgroundColor: 'rgba(158, 158, 158, 0.5)',\n                        borderColor: 'rgba(158, 158, 158, 1)',\n                        borderWidth: 2\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 200\n                    },\n                    plugins: { legend: { position: 'top' } },\n                    scales: { y: { beginAtZero: true } }\n                }\n            });\n            currentCharts.push(chart2);\n\n            const chart3 = new Chart(document.getElementById('growthRateChart'), {\n                type: 'radar',\n                data: {\n                    labels: ['Revenue Growth', 'Gross Profit Growth', 'Net Profit Growth'],\n                    datasets: companiesData.map(company => {\n                        const ratios = calculateRatios(company.data);\n                        return {\n                            label: company.name.split(' ')[0],\n                            data: [\n                                parseFloat(ratios.revenueGrowth),\n                                parseFloat(ratios.grossProfitGrowth),\n                                parseFloat(ratios.netProfitGrowth)\n                            ],\n                            backgroundColor: company.color + '33',\n                            borderColor: company.color,\n                            borderWidth: 2\n                        };\n                    })\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 400\n                    },\n                    scales: {\n                        r: {\n                            beginAtZero: true,\n                            ticks: {\n                                callback: function(value) {\n                                    return value + '%';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart3);\n\n            const chart4 = new Chart(document.getElementById('marginChart'), {\n                type: 'line',\n                data: {\n                    labels: companiesData.map(c => c.name.split(' ')[0]),\n                    datasets: [{\n                        label: 'Gross Profit Margin (%)',\n                        data: companiesData.map(c => parseFloat(calculateRatios(c.data).grossProfitMarginCurrent)),\n                        borderColor: '#00A19C',\n                        backgroundColor: 'rgba(0, 161, 156, 0.2)',\n                        borderWidth: 3,\n                        fill: true,\n                        tension: 0.4\n                    }, {\n                        label: 'Net Profit Margin (%)',\n                        data: companiesData.map(c => parseFloat(calculateRatios(c.data).netProfitMarginCurrent)),\n                        borderColor: '#00C1BC',\n                        backgroundColor: 'rgba(0, 193, 188, 0.2)',\n                        borderWidth: 3,\n                        fill: true,\n                        tension: 0.4\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 600\n                    },\n                    plugins: { legend: { position: 'top' } },\n                    scales: {\n                        y: {\n                            beginAtZero: true,\n                            ticks: {\n                                callback: function(value) {\n                                    return value + '%';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart4);\n\n            const totalRevenue = companiesData.reduce((sum, c) => sum + c.data.revenueCurrent, 0);\n            const chart5 = new Chart(document.getElementById('marketShareChart'), {\n                type: 'doughnut',\n                data: {\n                    labels: companiesData.map(c => c.name),\n                    datasets: [{\n                        data: companiesData.map(c => ((c.data.revenueCurrent / totalRevenue) * 100).toFixed(2)),\n                        backgroundColor: companiesData.map(c => c.color),\n                        borderWidth: 3,\n                        borderColor: '#fff'\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 800,\n                        animateRotate: true,\n                        animateScale: true\n                    },\n                    plugins: {\n                        legend: { position: 'bottom' },\n                        tooltip: {\n                            callbacks: {\n                                label: function(context) {\n                                    return context.label + ': ' + context.parsed + '% market share';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart5);\n        }\n\n        function renderCompanyCharts(company, ratios) {\n            const chart1 = new Chart(document.getElementById('companyRevenueChart'), {\n                type: 'bar',\n                data: {\n                    labels: ['Prior Period', 'Current Period'],\n                    datasets: [{\n                        label: 'Revenue',\n                        data: [company.data.revenuePrior, company.data.revenueCurrent],\n                        backgroundColor: [company.color + '66', company.color],\n                        borderColor: company.color,\n                        borderWidth: 2\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart'\n                    },\n                    plugins: { legend: { display: false } },\n                    scales: {\n                        y: {\n                            beginAtZero: true,\n                            ticks: {\n                                callback: function(value) {\n                                    return 'RM ' + formatNumber(value) + 'K';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart1);\n\n            const chart2 = new Chart(document.getElementById('companyProfitChart'), {\n                type: 'doughnut',\n                data: {\n                    labels: ['Gross Profit', 'Net Profit', 'Operating Costs'],\n                    datasets: [{\n                        data: [\n                            company.data.grossProfitCurrent,\n                            company.data.netProfitCurrent,\n                            company.data.revenueCurrent - company.data.grossProfitCurrent\n                        ],\n                        backgroundColor: ['#00A19C', '#00C1BC', '#008B87'],\n                        borderWidth: 3,\n                        borderColor: '#fff'\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 200,\n                        animateRotate: true,\n                        animateScale: true\n                    },\n                    plugins: { legend: { position: 'bottom' } }\n                }\n            });\n            currentCharts.push(chart2);\n\n            const chart3 = new Chart(document.getElementById('companyGrowthChart'), {\n                type: 'bar',\n                data: {\n                    labels: ['Revenue', 'Gross Profit', 'Net Profit'],\n                    datasets: [{\n                        label: 'Growth Rate (%)',\n                        data: [\n                            parseFloat(ratios.revenueGrowth),\n                            parseFloat(ratios.grossProfitGrowth),\n                            parseFloat(ratios.netProfitGrowth)\n                        ],\n                        backgroundColor: [\n                            parseFloat(ratios.revenueGrowth) > 0 ? 'rgba(0, 161, 156, 0.8)' : 'rgba(244, 67, 54, 0.8)',\n                            parseFloat(ratios.grossProfitGrowth) > 0 ? 'rgba(0, 161, 156, 0.8)' : 'rgba(244, 67, 54, 0.8)',\n                            parseFloat(ratios.netProfitGrowth) > 0 ? 'rgba(0, 161, 156, 0.8)' : 'rgba(244, 67, 54, 0.8)'\n                        ],\n                        borderWidth: 2\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 400\n                    },\n                    plugins: { legend: { display: false } },\n                    scales: {\n                        y: {\n                            ticks: {\n                                callback: function(value) {\n                                    return value + '%';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart3);\n\n            const chart4 = new Chart(document.getElementById('companyMarginChart'), {\n                type: 'line',\n                data: {\n                    labels: ['Prior Period', 'Current Period'],\n                    datasets: [{\n                        label: 'Gross Profit Margin',\n                        data: [parseFloat(ratios.grossProfitMarginPrior), parseFloat(ratios.grossProfitMarginCurrent)],\n                        borderColor: '#00A19C',\n                        backgroundColor: 'rgba(0, 161, 156, 0.2)',\n                        borderWidth: 3,\n                        fill: true,\n                        tension: 0.4\n                    }, {\n                        label: 'Net Profit Margin',\n                        data: [parseFloat(ratios.netProfitMarginPrior), parseFloat(ratios.netProfitMarginCurrent)],\n                        borderColor: '#00C1BC',\n                        backgroundColor: 'rgba(0, 193, 188, 0.2)',\n                        borderWidth: 3,\n                        fill: true,\n                        tension: 0.4\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 600\n                    },\n                    plugins: { legend: { position: 'top' } },\n                    scales: {\n                        y: {\n                            beginAtZero: true,\n                            ticks: {\n                                callback: function(value) {\n                                    return value + '%';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart4);\n\n            const chart5 = new Chart(document.getElementById('companyComparisonChart'), {\n                type: 'bar',\n                data: {\n                    labels: ['Revenue', 'Gross Profit', 'Net Profit'],\n                    datasets: [{\n                        label: 'Prior Period',\n                        data: [company.data.revenuePrior, company.data.grossProfitPrior, company.data.netProfitPrior],\n                        backgroundColor: 'rgba(158, 158, 158, 0.5)',\n                        borderColor: 'rgba(158, 158, 158, 1)',\n                        borderWidth: 2\n                    }, {\n                        label: 'Current Period',\n                        data: [company.data.revenueCurrent, company.data.grossProfitCurrent, company.data.netProfitCurrent],\n                        backgroundColor: company.color + 'CC',\n                        borderColor: company.color,\n                        borderWidth: 2\n                    }]\n                },\n                options: {\n                    responsive: true,\n                    maintainAspectRatio: false,\n                    animation: {\n                        duration: 1500,\n                        easing: 'easeOutQuart',\n                        delay: 800\n                    },\n                    plugins: { legend: { position: 'top' } },\n                    scales: {\n                        y: {\n                            beginAtZero: true,\n                            ticks: {\n                                callback: function(value) {\n                                    return 'RM ' + formatNumber(value) + 'K';\n                                }\n                            }\n                        }\n                    }\n                }\n            });\n            currentCharts.push(chart5);\n        }\n\n        // Navigation with smooth transitions\n        document.querySelectorAll('.nav-button').forEach(button => {\n            button.addEventListener('click', function() {\n                // Update active state\n                document.querySelectorAll('.nav-button').forEach(btn => btn.classList.remove('active'));\n                this.classList.add('active');\n\n                // Fade out content\n                const contentArea = document.getElementById('content-area');\n                contentArea.style.opacity = '0';\n                contentArea.style.transform = 'translateX(-30px)';\n\n                // Render new view after fade out\n                setTimeout(() => {\n                    const view = this.getAttribute('data-view');\n                    if (view === 'comparison') {\n                        renderComparisonView();\n                    } else {\n                        renderCompanyView(view);\n                    }\n\n                    // Fade in new content\n                    setTimeout(() => {\n                        contentArea.style.transition = 'all 0.5s ease';\n                        contentArea.style.opacity = '1';\n                        contentArea.style.transform = 'translateX(0)';\n                    }, 50);\n                }, 300);\n            });\n        });\n\n        // Initial render\n        renderComparisonView();\n    </script>\n</body>\n</html>\n`;\n\n// Convert HTML to binary data for n8n\nconst buffer = Buffer.from(htmlContent, 'utf-8');\n\n// Generate filename with timestamp\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, -5);\nconst filename = `petronas_financial_dashboard_${timestamp}.html`;\n\n// Return binary data in n8n format\nreturn [{\n  json: {\n    companies: companiesData.length,\n    generated_at: new Date().toISOString(),\n    filename: filename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: filename,\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -336
      ],
      "id": "c2865889-b7e5-4c7d-ad6e-9d03a083259d",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07a004d6-13c3-4490-b503-7415bafebf2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "WvX9RwIORltZGRCS",
  "tags": []
}
